<div class="container">
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
      <caption>Расписание проведения экзаменов</caption>
      <thead>
        <tr>
          <th class="number_team" rowspan="2">№ Команд</th>
          <th colspan="4">Дата проведения</th>
        </tr>
        <tr>
          <td>01.02.2012</td>
          <td>02.03.2013</td>
          <td>03.04.2014</td>
          <td>04.05.2015</td>
        </tr>
      </thead>
      <tbody *ngFor="let team of teams">
        <tr>
          <td>{{team.id}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>