.select_faculty {
  width: 185px;
  margin-right: 20px;
  float: left;
}

.add_instr {
  width: 447px;
  float: left;
}

.input_instructor {
  margin-bottom: 15px;
}

.input_instructor input {
  width: 352px;
  margin-right: 10px;
  float: left;
}

.input_instructor button {
  float: left;
}

.submit {
  float: right;
  margin-top: 15px;
}

button {
  width: 85px;
  height: 35px;
}