<div class="docs-list">
    <ul>
        <li>
            <p>
                Приложение 1
                <button class="btn btn-default">Сгенерировать</button>
            </p>
        </li>
        <li>
            <p>
                Приложение 1
                <button class="btn btn-default">Сгенерировать</button>
            </p>
        </li>
        <li>
            <p>
                Приложение 1
                <button class="btn btn-default">Сгенерировать</button>
            </p>
        </li>
    </ul>
</div>