.list {
    max-height: 450px;
    overflow-y: scroll;
}
.list::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}
.list::-webkit-scrollbar-button {
    width: 3px;
    height: 3px;
}
.list::-webkit-scrollbar-thumb {
    background: #8B8E8F;
    border: 0px none #ffffff;
    border-radius: 50px;
}
.list::-webkit-scrollbar-thumb:active {
    background: #6D6F70;
}
.list::-webkit-scrollbar-track {
    background: #e6e6e6;
    border: 0px none #ffffff;
    border-radius: 50px;
}
.list::-webkit-scrollbar-corner {
    background: transparent;
}
